body{
    background-color: black;
}
#header{
    background-color: #132436;
    color: #f7f020;
}
#footer{
    background-color: #132436;
    color: white;
}
.btn-header{
    background-color: #132436;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-header:hover{
    background-color: #868218;    
}
